@page "{Form.MakananId}"
@model Exam20203.Pages.PurchaseCart.DeletePurchaseModel
@{
}

<h1>Delete Data Confirmation</h1>
<form method="post">
    <div>
        <h3>Apakah anda yakin untuk menghapus @Model.Form.MakananName ?</h3>
        <h3>:'(</h3>
    </div>
    <br />
    <button type="submit">Delete</button>
</form>